# Extract based upon file ext
function extract() {
    if [ -f $1 ]; then
        case $1 in
            *.tar.bz2) tar xvjf $1   ;;
            *.tar.gz)  tar xvzf $1   ;;
            *.bz2)     bunzip2 $1    ;;
            *.rar)     unrar x $1    ;;
            *.gz)      gunzip $1     ;;
            *.tar)     tar xvf $1    ;;
            *.tbz2)    tar xvjf $1   ;;
            *.tgz)     tar xvzf $1   ;;
            *.zip)     unzip $1      ;;
            *.Z)       uncompress $1 ;;
            *.7z)      7z x $1       ;;
            *)         echo "'$1' cannot be extracted via >extract<" ;;
        esac
      else
        echo "'$1' is not a valid file"
    fi
}

# Regenerate MAC address
# http://jezenthomas.com/free-internet-on-trains/
remac() {
    sudo /System/Library/PrivateFrameworks/Apple80211.framework/Resources/airport -z
    sudo ifconfig en0 ether $(openssl rand -hex 6 | sed 's/\(..\)/\1:/g; s/.$//')
    sudo networksetup -detectnewhardware
    echo $(ifconfig en0 | grep ether)
}

# Reset device DNS
# http://osxdaily.com/2015/06/02/change-dns-command-line-mac-os-x/
# http://osxdaily.com/2014/09/03/list-all-network-hardware-from-the-command-line-in-os-x/
resetdns() {
    sudo networksetup -setdnsservers "Built-In Ethernet" 8.8.8.8 8.8.4.4
    sudo networksetup -setdnsservers "Wi-Fi" 8.8.8.8 8.8.4.4
}

# Lint the PHP files in the specified directory
php-lint() {
    (find $1 -path ./vendor -prune -o -name "*.php" -exec php -l {} \; | grep -v "No syntax errors"); test $? -eq 1
}

# List Brew packages and their dependencies
# http://zanshin.net/2014/02/03/how-to-list-brew-dependencies/
brew-deps() {
    brew list | while read cask; do echo -n $BLUE $cask $WHITE; brew deps $cask | awk '{printf(" %s ", $0)}'; echo ""; done
}
