#!/bin/bash
sleep {{ sleepwatcher.wakeup_delay }}
/usr/sbin/networksetup setairportpower en0 on

echo "Waking Up: `date`" >> {{ sleepwatcher.log }}
echo `/usr/sbin/networksetup getairportpower en0` >> {{ sleepwatcher.log }}
